label {
  color: black;
  margin-top: 16px;
  padding: 5px;
  height: 36px;
  float: left;
  font-weight: bold;
}

input {
  height: 36px;
  width: 196px;
  border: 1px solid black;
  color: black;
  margin-top: 16px;
  padding: 5px;
  margin-right: 8px;
  margin-left: 16px;
  float: right;
}

.error {
  padding: 5px;
  margin-top: 12px;
  color: red;
}

.submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  border-radius: 8px;
}

.submit:disabled {
  background-color: gray;
}