label {
  margin-top: 8px;
  padding: 5px;
  height: 36px;
  float: left;
}

input {
  height: 36px;
  width: 256px;
  border: 1px solid black;
  margin-top: 8px;
  padding: 5px;
  margin-right: 10px;
  float: right;
}

.submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
  border-radius: 8px;
}